{% extends "base/layout.html" %}

{% load static %}

{% block Content %}
    <div class="card-body">
        <div> ماه کنونی : <span> {{ current_month }} </span></div>
        <div> تعداد تغییر داده شده : <span> {{ control.user_change_time }} </span></div>
        <div> تعداد تغییر مجاز : <span> {{ control.limit }} </span></div>
        {% if  control.user_change_time  <  control.limit %}
            <div class="table-responsive text-nowrap">
                <form method="post" name="form-table-shift">
                    <table id="table-shift" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>تاریخ</th>
                            <th>شیفت صبح</th>
                            <th>شیفت عصر</th>
                            <th>شیفت شب</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in list_of_shifts %}
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ i.date }}</strong>
                                </td>
                                <td>{% if i.sobh %}
                                    <input class="bigger_checkBox" type="checkbox" name="{{ i.date }}-sobh"
                                           checked> {% else %}
                                    <input class="bigger_checkBox" type="checkbox" name="{{ i.date }}-sobh">{% endif %}
                                </td>
                                <td>{% if i.asr %}<input class="bigger_checkBox" type="checkbox" name="{{ i.date }}-asr"
                                                         checked> {% else %}
                                    <input class="bigger_checkBox" type="checkbox" name="{{ i.date }}-asr">{% endif %}
                                </td>
                                <td>{% if i.shab %}
                                    <input class="bigger_checkBox" type="checkbox" name="{{ i.date }}-shab"
                                           checked> {% else %}
                                    <input class="bigger_checkBox" type="checkbox" name="{{ i.date }}-shab">{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <button class="btn-primary" id="submitBtn">ارسال برای مدیر</button>
                </form>

            </div>
            </div>
        {% else %}
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>تاریخ</th>
                        <th>شیفت صبح</th>
                        <th>شیفت عصر</th>
                        <th>شیفت شب</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in list_of_shifts %}
                        <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ i.date }}</strong></td>
                            <td>{{ i.sobh }} 2</td>
                            <td>{{ i.asr }} 2</td>
                            <td>{{ i.shab }} 2</td>


                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>
            </div>
        {% endif %}

        {#  $(document).ready(function() {#}
        {#    $("#submitBtn").click(function() {#}
        {#      var myList = [1, 2, 3, 4, 5]; // Example list#}
        {##}
        {#      $.ajax({#}
        {#        url: "/shift/",#}
        {#        type: "POST",#}
        {#        data: JSON.stringify(myList),#}
        {#        contentType: "application/json",#}
        {#        success: function(response) {#}
        {#          console.log("List sent successfully.");#}
        {#        },#}
        {#        error: function(xhr) {#}
        {#          console.error("Error sending list.");#}
        {#        }#}
        {#      });#}
        {#    });#}
        {#  });#}
        {#</script>#}

  <script src="{% static 'js/jquery1.js' %}"></script>
        <script>
            $(document).ready(function () {
                console.log("Saaaaaaaaaaaaaaaaa")
            $("#submitBtn").click(function () {
                var tableData = [];
                $("#table-shift tbody tr").each(function (row, tr) {
                    var rowData = {
                        date: $(tr).find("td:eq(0)").text(),
                        sobh: $(tr).find("td:eq(1)").text(),
                        asr: $(tr).find("td:eq(2)").text(),
                        shab: $(tr).find("td:eq(3)").text(),
                        user: {{request.user}}
                    };
                    tableData.push(rowData);
                });
                console.log("salam man injam")
                console.log(tableData)
                $.ajax({
                    url: "/shift/",
                    type: "POST",
                    data: {table_data: JSON.stringify(tableData)},
                    dataType: "json",
                    success: function (response) {
                        console.log(response)
                        console.log(tableData)
                        // Handle success response
                    },
                    error: function (xhr) {
                        console.log(tableData)
                        // Handle error response
                    }
                });
            });
        });
    </script>
{% endblock Content %}