{% load static %}

<!DOCTYPE html>
<html lang="en" class="light-style " dir="rtl" data-theme="theme-default" data-assets-path="{% get_static_prefix %}" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>ثبت نام انجام شد | اُنرس</title>
    <meta name="description"
        content="پنل پرسنل اُنرس" />
    <!-- Canonical SEO -->
    <link rel="canonical" href="#">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% get_static_prefix %}img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% get_static_prefix %}vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% get_static_prefix %}vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% get_static_prefix %}vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% get_static_prefix %}css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% get_static_prefix %}vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <!-- Page CSS -->

    <!-- Page -->
    <link rel="stylesheet" href="{% get_static_prefix %}vendor/css/pages/page-misc.css">
    <!-- Helpers -->
    <script src="{% get_static_prefix %}vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% get_static_prefix %}js/config.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <!-- Custom notification for demo -->
    <!-- beautify ignore:end -->
</head>
<body>
<!-- Content -->
<!--Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">ثبت نام شما با موفقیت انجام شد!</h2>
        <p class="mb-4 mx-2">
            حساب کاربری شما بعد از تایید تیم پشتیبانی فعال خواهد شد، این فرایند ممکن است 2 تا 3 روز به طول بیانجامد.
            <br>
            پیشاپیش از صبوری شما سپاسگزاریم
        </p>
        <div class="mt-4">
            <img src="{% get_static_prefix %}img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png">
        </div>
    </div>
</div>
<!-- /Under Maintenance -->

<!-- / Content -->
<!-- Core JS -->
<!-- build:js {% get_static_prefix %}vendor/js/core.js -->
<script src="{% get_static_prefix %}vendor/libs/jquery/jquery.js"></script>
<script src="{% get_static_prefix %}vendor/libs/popper/popper.js"></script>
<script src="{% get_static_prefix %}vendor/js/bootstrap.js"></script>
<script src="{% get_static_prefix %}vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="{% get_static_prefix %}vendor/js/menu.js"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="{% get_static_prefix %}vendor/libs/apex-charts/apexcharts.js"></script>
<!-- Main JS -->
<script src="{% get_static_prefix %}js/main.js"></script>
<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script src="{% get_static_prefix %}vendor/js/buttons.js"></script>
</body>
</html>
